/* Message Bubbles*/
/* New Messages bubble */
#app-mount .message__5126c[data-is-self=true] {
  margin-left: auto;
  width: auto;
  padding-left: 48px;
  padding-right: 72px !important;
}

#app-mount .message__5126c[data-is-self=true] .container_b7e1cb {
  direction: rtl;
}

#app-mount .message__5126c[data-is-self=true] .contents_c19a55 {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: 8px;
}

#app-mount .message__5126c.selected__5126c[data-is-self=true] .contents_c19a55 {
  width: 100%;
}

#app-mount .message__5126c[data-is-self=true] .timestamp_c19a55 {
  left: unset;
  right: 8px;
}

#app-mount .message__5126c[data-is-self=true] .repliedMessage_c19a55 {
  margin-left: auto;
}

#app-mount .replying__5126c[data-is-self=true] .contents_c19a55 .messageContent_c19a55::before,
#app-mount .mentioned__5126c[data-is-self=true] .contents_c19a55 .messageContent_c19a55::before {
  left: unset;
  right: 0;
}

#app-mount .message__5126c[data-is-self=true] .contents_c19a55 .messageContent_c19a55 {
  margin-left: auto;
}

#app-mount .message__5126c[data-is-self=true] a:not(.embed__623de .embedAuthorNameLink__623de) {
  margin-left: auto;
}

#app-mount .message__5126c[data-is-self=true] .embedAuthor__623de {
  direction: ltr;
}

#app-mount .message__5126c[data-is-self=true] .avatar_c19a55 {
  left: unset;
  right: 16px;
}

#app-mount .message__5126c[data-is-self=true] .avatarDecoration_c19a55 {
  left: unset;
  right: 12px;
}

#app-mount .message__5126c[data-is-self=true] .header_c19a55 {
  display: flex;
  flex-direction: row-reverse;
}

#app-mount .message__5126c[data-is-self=true] .header_c19a55 span {
  margin-left: 0.25rem;
  margin-right: unset;
}

#app-mount .message__5126c[data-is-self=true] .repliedMessage_c19a55:before {
  display: none;
}

#app-mount .contents_c19a55 > .messageContent_c19a55 {
  overflow: visible;
}

#app-mount .contents_c19a55 pre {
  max-width: 100%;
}

#app-mount .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-secondary) !important;
  padding: 8px;
  margin-left: unset;
  border-radius: 0px;
  width: -moz-fit-content;
  width: fit-content;
}

#app-mount .contents_c19a55 {
  display: inline-block;
  max-width: 100%;
}

#app-mount .message__5126c {
  max-width: 100%;
}

#app-mount .message__5126c:hover:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55,
#app-mount .message__5126c.selected__5126c:not(.replying__5126c):not(.mentioned__5126c) .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-secondary-alt);
}

#app-mount .message__5126c.compact_c19a55.wrapper_c19a55[data-is-self=true] .messageContent_c19a55 {
  display: flex;
}

#app-mount .compact_c19a55.wrapper_c19a55 {
  padding-top: 8px;
  padding-bottom: 8px;
}

#app-mount .mentioned__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-is-self=true]) {
  left: 4px;
}

#app-mount .replying__5126c.compact_c19a55 .contents_c19a55 .messageContent_c19a55::before:not([data-is-self=true]) {
  left: 4px;
}

#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-mentioned);
}

#app-mount .mentioned__5126c:hover .contents_c19a55 .messageContent_c19a55,
#app-mount .mentioned__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--background-mentioned-hover);
}

#app-mount .mentioned__5126c .contents_c19a55 .messageContent_c19a55::before {
  background-color: var(--info-warning-foreground);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

#app-mount .mentioned__5126c:before {
  display: none;
}

#app-mount .repliedMessage_c19a55 {
  background-color: var(--background-message-hover);
  margin-bottom: 0;
  padding: 6px;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 100%;
}

#app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--brand-experiment-05a);
}

#app-mount .replying__5126c:hover .contents_c19a55 .messageContent_c19a55,
#app-mount .replying__5126c.selected__5126c .contents_c19a55 .messageContent_c19a55 {
  background-color: var(--brand-experiment-10a);
}

#app-mount .replying__5126c .contents_c19a55 .messageContent_c19a55::before {
  background-color: var(--brand-experiment);
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;
  width: 3px;
  margin: 8px 0;
  border-radius: 1.5px;
  z-index: 1;
}

.replying__5126c:before {
  display: none;
}

.repliedMessage_c19a55:before {
  display: none;
}