//Selfmessages. Heavily based on Discord 11's Message bubbles
/* Message Bubbles*/
/* New Messages bubble */
#app-mount .message_d5deea[data-author-self="true"] {
    margin-left: auto;
    width: auto;
    padding-left: 48px;
    padding-right: 72px !important;
}

#app-mount .message_d5deea[data-author-self="true"] .container_b558d0 {
    direction: rtl;
}

#app-mount .message_d5deea[data-author-self="true"] .contents_ec86aa {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: 8px;
}
#app-mount .message_d5deea.selected_d5deea[data-author-self="true"] .contents_ec86aa {
    width: 100%;
}

#app-mount .message_d5deea[data-author-self="true"] .timestamp_ec86aa {
    left: unset;
    right: 8px;
}
#app-mount .message_d5deea[data-author-self="true"] .repliedMessage_ec86aa {
    margin-left: auto;
}

#app-mount .replying_d5deea[data-author-self="true"] .contents_ec86aa .messageContent_ec86aa::before,
#app-mount .mentioned_d5deea[data-author-self="true"] .contents_ec86aa .messageContent_ec86aa::before {
    left: unset;
    right: 0;
}

#app-mount .message_d5deea[data-author-self="true"] .contents_ec86aa .messageContent_ec86aa {
    margin-left: auto;
}
#app-mount .message_d5deea[data-author-self="true"] a:not(.embed_ad0b71 .embedAuthorNameLink_ad0b71) {
    margin-left: auto;
}

#app-mount .message_d5deea[data-author-self="true"] .embedAuthor_ad0b71 {
    direction: ltr;
}

#app-mount .message_d5deea[data-author-self="true"] .avatar_ec86aa {
    left: unset;
    right: 16px;
}

#app-mount .message_d5deea[data-author-self="true"] .header_ec86aa {
    display: flex;
    flex-direction: row-reverse;
}
#app-mount .message_d5deea[data-author-self="true"] .header_ec86aa span {
    margin-left: 0.25rem;
    margin-right: unset;
}

#app-mount .message_d5deea[data-author-self="true"] .repliedMessage_ec86aa:before {
    display: none;
}

#app-mount .contents_ec86aa > .messageContent_ec86aa {
    overflow: visible;
}

#app-mount .contents_ec86aa pre {
    max-width: 100%;
}

#app-mount .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--background-secondary) !important;
    padding: 8px;
    margin-left: unset;
    border-radius: 0px;
    width: fit-content;
}
#app-mount .contents_ec86aa {
    display: inline-block;
    max-width: 100%;
}
#app-mount .message_d5deea {
    max-width: 100%;
}
#app-mount .message_d5deea:hover:not(.replying_d5deea):not(.mentioned_d5deea) .contents_ec86aa .messageContent_ec86aa,
#app-mount .message_d5deea.selected_d5deea:not(.replying_d5deea):not(.mentioned_d5deea) .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--background-secondary-alt);
}

#app-mount .message_d5deea.compact_ec86aa.wrapper_ec86aa[data-author-self="true"] .messageContent_ec86aa {
    display: flex;
}

#app-mount .compact_ec86aa.wrapper_ec86aa {
    padding-top: 8px;
    padding-bottom: 8px;
}

#app-mount .mentioned_d5deea.compact_ec86aa .contents_ec86aa .messageContent_ec86aa::before:not([data-author-self="true"]) {
    left: 4px;
}
#app-mount .replying_d5deea.compact_ec86aa .contents_ec86aa .messageContent_ec86aa::before:not([data-author-self="true"]) {
    left: 4px;
}

#app-mount .mentioned_d5deea .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--background-mentioned);
}
#app-mount .mentioned_d5deea:hover .contents_ec86aa .messageContent_ec86aa,
#app-mount .mentioned_d5deea.selected_d5deea .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--background-mentioned-hover);
}
#app-mount .mentioned_d5deea .contents_ec86aa .messageContent_ec86aa::before {
    background-color: var(--info-warning-foreground);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
}
#app-mount .mentioned_d5deea:before {
    display: none;
}

#app-mount .repliedMessage_ec86aa {
    background-color: var(--background-message-hover);
    margin-bottom: 0;
    padding: 6px;
    border-radius: 5px;
    width: fit-content;
    max-width: 100%;
}

#app-mount .replying_d5deea .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--brand-experiment-05a);
}
#app-mount .replying_d5deea:hover .contents_ec86aa .messageContent_ec86aa,
#app-mount .replying_d5deea.selected_d5deea .contents_ec86aa .messageContent_ec86aa {
    background-color: var(--brand-experiment-10a);
}
#app-mount .replying_d5deea .contents_ec86aa .messageContent_ec86aa::before {
    background-color: var(--brand-experiment);
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    width: 3px;
    margin: 8px 0;
    border-radius: 1.5px;
    z-index: 1;
}
.replying_d5deea:before {
    display: none;
}
.repliedMessage_ec86aa:before {
    display: none;
}
