/* unread pill */
.unreadImportant_d8bfb3 {
    padding-top: 21px;
    margin-top: -6.5%;
    margin-left: 4%;
    opacity: 50%;
}
/* unread pill */
.unreadImportant_d8bfb3 {
    padding-top: 21px;
    margin-top: -6.5%;
    margin-left: 4%;
    opacity: 50%;
}
