.container_debb33 {
    height: auto !important;
    padding: 6px 6px;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0px;
}

.container_debb33 > div {
    width: 100%;
}

.container_debb33 > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.container_debb33:hover > div:nth-child(2) {
    max-height: 32px;
}

.container_debb33 > div:nth-child(2) > button {
    width: 100%;
}
.container_e1958d > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.dot__67e1c {
    display: none;
}
.container_e1958d:hover > div:nth-child(2) {
    max-height: 32px;
}

.container_e1958d > div:nth-child(2) > button {
    width: 100%;
    scale: 1.5;
}
/*User Panel*/
.withTagAsButton_e22174,
.withTagless__058f8 {
    min-width: 212px !important;
}
.container_debb33 button {
    margin: 1.1px;
    background: var(--bg-overlay-4, var(--background-primary));
}
.contents__322f4 {
    padding-right: 7px;
}
.container_debb33 .hovered__5a165,
.hoverRoll__3ea9e.forceHover__733de:not(.disabled__6cbf4) .default__74311 {
    opacity: 1 !important;
    transform: none;
}

.container_debb33 .hovered__5a165::before {
    content: "@";
}

.default__74311 {
    margin-top: 15px;
}
