.container__37e49 {
    height: auto !important;
    padding: 6px 6px;
    flex-direction: column;
    align-items: stretch;
    row-gap: 0px;
}

.container__37e49 > div {
    width: 100%;
}

.container__37e49 > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}

.container__37e49:hover > div:nth-child(2) {
    max-height: 32px;
}

.container__37e49 > div:nth-child(2) > button {
    width: 100%;
}
.container_e131a9 > div:nth-child(2) {
    justify-content: space-between;
    max-height: 0;
    overflow: hidden;
    transition-property: max-height;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.dot__148e9 {
    display: none;
}
.container_e131a9:hover > div:nth-child(2) {
    max-height: 32px;
}

.container_e131a9 > div:nth-child(2) > button {
    width: 100%;
    scale: 1.5;
}
/*User Panel*/
.withTagAsButton_b2ca13,
.withTagless_b2ca13 {
    min-width: 212px !important;
}
.container__37e49 button {
    margin: 1.1px;
    background: var(--bg-overlay-4, var(--background-primary));
}
.contents__201d5 {
    padding-right: 7px;
}
.container__37e49 .hovered__0263c,
.hoverRoll__0263c.forceHover__0263c:not(.disabled__0263c) .default__0263c {
    opacity: 1 !important;
    transform: none;
}

.container__37e49 .hovered__0263c::before {
    content: "@";
}

.default__0263c {
    margin-top: 15px;
}
.visual-refresh .sidebar_c48ade:after {
    display: none;
}
.panels_c48ade {
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
}
