#app-mount
    > div.typeWindows_a934d8.withFrame_a934d8.titleBar_a934d8.horizontalReverse_d76671.flex_ec1a20.directionRowReverse_f644aa.justifyStart_ec1a20.alignStretch_ec1a20 {
    line-height: 30px;
    align-items: center;
    height: 30px !important;
    top: 0px;
    margin-top: 0px;
}

.winButton_a934d8 {
    height: 25px;
    width: 46px;
    top: 0px;
}
