#app-mount
    > div.typeWindows_e41dab.withFrame__5e49e.titleBar__710b0.horizontalReverse_d76671.flex__9487d.directionRowReverse_f644aa.justifyStart__6f8c8.alignStretch__2d62d {
    line-height: 30px;
    align-items: center;
    height: 30px;
    top: 0px;
    margin-top: 0px;
}

.winButton_f17fb6 {
    height: 30px;
    width: 46px;
    top: 0px;
}
