#app-mount
    > div.typeWindows__421ed.withFrame__421ed.titleBar__421ed.horizontalReverse_d76671.flex_abf706.directionRowReverse_f644aa.justifyStart_abf706.alignStretch_abf706 {
    line-height: 30px;
    align-items: center;
    height: 30px !important;
    top: 0px;
    margin-top: 0px;
}

.winButton__421ed {
    height: 25px;
    width: 46px;
    top: 0px;
}
